@charset "utf-8";


.titulo{
	color:#B72304;
	text-align: center;
	font-family: Segoe UI;
	letter-spacing: 0.3em;
	word-spacing: 1.0em;
	font-size: 3em;
}

.subtitulo{
	color: black;
	letter-spacing: 1px;
	text-align: center;
	font-size: 1.0em;
	font-family: Segoe UI;
}

.div25{
	 float: left;
  	width: 25%;
  	margin-top: 10px;
  	/*background-color: gray;*/
}

.div75{
	float: left;
  width: 75%;
  margin-top: 10px;
 /*background-color: yellow;*/
}

.div60{
  float: left;
  width: 60%;
  margin-top: 6px;
}

.div40{
	float: left;
  width: 40%;
  margin-top: 6px;
}

.desplegable{
	width: 20%;
}

.terminos{
	margin-top: 10px;
	text-align: center;
}

.botonera{
	margin-top: 20px;
	text-align: center;
}

input[type=submit]{
	padding: 8px;
	font-size: 15px;
	margin-right: 10px;
}

input[type=reset]{
	padding: 8px;
	font-size: 15px;
	margin-right: 10px;
}

fieldset{
	margin-right: 150px;
	margin-left: 150px;
	border: 3px solid darkblue;
	border-radius: 24px;
	padding: 25px;
}

legend{
	color: orange;
}

label{
	margin-bottom: 5px;
	font-family: Calibri;
	font-weight: bold;
}

input{
	margin-bottom: 5px;
	font-family: Calibri;
}

input:focus{
	background-color: #FEF9E7;
	border: 2px solid black;
}

.inputCompartido{
	width: 60%;
}

.desplegableCompartido{
	width: 70%;
}